StoneEdgeGeneration/virtualenv/Lib/
StoneEdgeGeneration/virtualenv/Scripts/
StoneEdgeGeneration/virtualenv/Include/
StoneEdgeGeneration/virtualenv/tcl/
StoneEdgeGeneration/virtualenv/share/
StoneEdgeGeneration/virtualenv/pip-selfcheck.json